:root {
    font-family: sans-serif;
    --padding: 0.25em;
}

.kvMultiSelect {
    cursor: pointer;
}

.kvMultiSelect li {
    padding: var(--padding);
}

.kvMultiSelect::before {
    display: block;
    content: attr(data-search);
    background-color: black;
    color: white;
    padding: var(--padding);
}

.kvMultiSelect li[selected] {
    background-color: SelectedItem;
    color: white;
}

.kvMultiSelect li[selected]::marker {
    color: SelectedItem;
}

.kvMultiSelect li::marker {
    color: white;
}

.kvMultiSelect :first-child::marker {
    color: white !important;
}