:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.kvCart table {
  width: 100%;
  border-collapse: collapse;
}

.kvCart th:nth-child(n + 2) {
  white-space: nowrap;
}

.kvCart td,
.kvCart th {
  padding: 0.25rem;
  border-bottom: thin solid black;
}

.kvCart .kvCartQuote {
  background-color: lightyellow;
}
.kvCart .kvCartOrder {
  background-color: lightgreen;
}