:root {
	--special-background: 12, 146, 121;
	--special-color: 255, 255, 255;
	--border-color: gray;
	--error-color: red;
	--padding: 0.2rem;
	--margin: 0.2rem;

	font-family: sans-serif;
	font-size: 12pt;

	color-scheme: light dark;
}

dialog {
	padding-top: 2.5rem;
	font-size: smaller;
}

dialog header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: var(--padding) 2rem var(--padding) 1rem;
	margin-bottom: 1rem;
	color: Field;
	background-color: FieldText;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

dialog header::after {
	position: absolute;
	line-height: 1rem;
	right: 1rem;
	font-family: inherit;
	content: "✖";
}
