:root {
	--special-background: 12, 146, 121;
	--special-color: 255, 255, 255;
	--border-color: gray;
	--error-color: red;
	--padding: 0.125rem;
	--margin: 0.25rem;

	font-family: sans-serif;
	font-size: 12pt;

	color-scheme: light dark;
}

kv-pair {
	display: flex;
	gap: 0.5rem;
	flex-wrap: nowrap;
	min-width: 16rem;
}

kv-pair menu {
	line-height: 1.25rem;
	border: thin solid FieldText;
	height: 15rem;
	padding: var(--padding);
	overflow: hidden;
	overflow-y: auto;
	flex: 1;
}

kv-pair div {
	padding: var(--padding);
	white-space: nowrap;
	overflow: hidden;
}

kv-pair .selected {
	color: ButtonText;
	background-color: ButtonFace;
}