kv-params * {
	box-sizing: border-box;
}

kv-params select {
	max-width: 12rem;
}

kv-params label>span {
	display: block;
	font-weight: bolder;
	font-size: smaller;
	padding: var(--padding);
}

kv-params input,
kv-params select {
	padding: var(--padding);
}

kv-params input[type="number"] {
	max-width: 5rem;
}

kv-params table {
	width: 100%;
	border-collapse: collapse;
	border-left: thin solid var(--border-color);
	border-right: thin solid var(--border-color);
	border-bottom: thin solid var(--border-color);
}

kv-params thead {
	position: sticky;
	top: 0;
}

kv-params th {
	padding: var(--padding);
	color: Field;
	background-color: FieldText;
}

kv-params tbody {
	counter-reset: row;
}

kv-params tbody tr>td:first-child {
	white-space: nowrap;
}

kv-params tbody tr>td:first-child:not([colspan])::before {
	display: inline-block;
	font-family: monospace;
	counter-increment: row;
	content: counter(row, decimal) ". ";
	width: 4ch;
}

kv-params td {
	padding: var(--padding);
}
kv-params td>span {
	float: right;
	padding-right: 1rem;
	font-size: smaller;
}

kv-params i.set {
	color: Highlight;
}

kv-params tbody tr:hover:not(.colspan) {
	background-color: ButtonFace;
	color: ButtonText;
}
kv-params tr:not(.colspan).selected {
	background-color: Highlight !important;
	color: HighlightText !important;
}

kv-params textarea {
	padding: var(--padding);
	width: -webkit-fill-available;
}

kv-params :invalid {
	border-color: var(--error-color);
}

kv-params .fas,
kv-params .far {
	padding: var(--padding);
}

kv-params td.range {
	font-size: smaller;
	font-family: monospace;
	white-space: nowrap;
	text-align: right;
}

kv-params .deselected {
	opacity: 0.4;
}

kv-params dialog button {
	min-width: 5rem;
	padding: var(--padding);
	margin-top: 0.5rem;
}

kv-params dialog span {
	display: inherit;
}

kv-params dialog fieldset {
	display: inherit;
	margin: var(--margin) 0;
}

dialog {
	padding-top: 2.5rem;
	font-size: smaller;
}

dialog header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: var(--padding) 2rem var(--padding) 1rem;
	margin-bottom: 1rem;
	color: Field;
	background-color: FieldText;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

dialog header::after {
	position: absolute;
	line-height: 1rem;
	right: 1rem;
	font-family: inherit;
	content: "✖";
}

kv-params .hide {
	display: none;
}

kv-params [disabled] {
	color: FieldText;
}