:root {
    font-family: sans-serif;
    --padding: 0.25em;
}

.kvSelect {
    cursor: pointer;
}

.kvSelect li {
    padding: var(--padding);
}

.kvSelect::before {
    display: block;
    content: attr(data-search);
    background-color: black;
    color: white;
    padding: var(--padding);
}

.kvSelect li[selected] {
    background-color: SelectedItem;
    color: white;
}

.kvSelect li[selected]::marker {
    color: SelectedItem;
}

.kvSelect li::marker {
    color: white;
}

.kvSelect :first-child::marker {
    color: white !important;
}