:root {
    font-family: sans-serif;
    --padding: 0.5em;
}

.kvSelect option, .kvSelect input {
    padding: var(--padding);
}

.kvSelect [selected] {
    background-color: SelectedItem;
    color: white;
}
