:root {
    --special_color: rgb(22, 140, 250);
    --light_color: rgba(22, 178, 250, 0.1);
    --text_color: #3F3F3E;
    --base_color: #FFFFFF;
    --shade_color: #E0E0E0;
    --error_color: #FF0000;
    --input_height: 2em;
    --padding: 0.25em;
    --font_family: helvetica, arial, 'PT Sans', sans-serif;

    font-family: var(--font_family);
    font-size: 11pt;
}

.JSONForm .modified {
    border-color: var(--special_color) !important;
}

.JSONForm [disabled],
.JSONForm div.JSONData:not([contenteditable]) {
    background-color: #efefef !important;
}

.JSONForm[disabled] .newRow,
.JSONForm[disabled] .deleteRow,
.JSONForm[disabled] .newColumn,
.JSONForm[disabled] .deleteColumn {
    display: none;
}

.JSONForm .zoom {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--base_color);
}

.JSONForm .zoom textarea,
.JSONForm .zoom [contenteditable] {
    margin: 2px 2px 2px 0;
    height: calc(100% - 5em);
}

.JSONForm .newRow,
.JSONForm .deleteRow,
.JSONForm .newColumn,
.JSONForm .deleteColumn {
    cursor: pointer;
    font-size: smaller;
    color: var(--special_color);
}

.columnar {
    table-layout: fixed;
}

.columnar th:first-child {
    width: 1em;
    white-space: nowrap;
    text-align: left;
    padding: 0 0.5em;
}

.JSONForm .newRow {
    padding-bottom: 1em;
}

.JSONForm .deleteRow {
    width: 1em;
}

.JSONForm {
    /*display: grid;*/
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
}

.JSONForm [readonly] {
    border-color: transparent;
    background-color: var(--light_color);
}

.JSONForm option:not([selected])[disabled] {
    display: inherit;
}

.JSONForm table,
.JSONForm h2,
.JSONForm hr,
.JSONForm label:has(textarea, div) {
    border-collapse: collapse;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    /*grid-area: auto / 1 / auto / span 4;*/
}

.JSONForm td {
    padding: var(--padding);
}

.JSONForm caption {
    text-align: left;
    font-weight: bolder;
    border-bottom: thin solid var(--special_color);
    padding-top: 0.5em;
    color: var(--special_color);
}

.JSONForm th {
    font-size: smaller;
    background-color: var(--special_color);
    color: var(--base_color);
    padding: var(--padding);
}

.JSONForm>label,
.JSONForm legend {
    display: block;
    font-size: smaller;
    font-weight: bolder;
}

.JSONForm option:not([selected])[disabled] {
    display: none;
}

.JSONForm>label {
    padding: var(--padding);
    break-inside: avoid;
}

.JSONForm *:invalid {
    border-color: var(--error_color);
}

.JSONForm>table textarea {
    border: thin solid var(--shade_color);
}

.JSONForm label input,
.JSONForm label select:not([multiple]) {
    line-height: var(--input_height);
    height: var(--input_height);
    font-size: inherit;
    border: thin solid var(--shade_color);
    padding: 0 var(--padding);
}

.JSONData:not(td),
JSONData:not(table) {
    background-color: var(--light_color);
}

.JSONForm option {
    font-size: inherit;
    padding: var(--padding);
}

.JSONForm output {
    display: block;
    font-weight: normal;
    border: none;
    padding: var(--padding);
}

.JSONForm input,
.JSONForm select,
.JSONForm textarea,
.JSONForm progress,
.JSONForm meter {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    border: thin solid var(--shade_color);
    padding: var(--padding);
}

.JSONForm input[type="checkbox"],
.JSONForm input[type="radio"] {
    height: 1em;
    width: 1em;
}

.JSONForm textarea,
.JSONForm div[contenteditable] {
    font-family: var(--font_family);
    font-size: inherit;
    font-weight: initial;
    padding: var(--padding);
    border: thin solid var(--shade_color);
}

.JSONForm>fieldset {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: calc(2 * var(--padding));
    border: thin solid var(--shade_color);
}

.JSONForm>fieldset label {
    font-weight: normal !important;
    font-size: smaller;
    padding-right: 1em;
}

@media screen and (max-width: 1024px) {

    .JSONForm {
        grid-template-columns: 1fr 1fr;
    }

    .JSONForm table,
    .JSONForm label:has(textarea, div) {
        grid-area: auto / 1 / auto / span 2;
    }
}

@media screen and (max-width: 512px) {

    .JSONForm {
        grid-template-columns: 1fr;
    }

    .JSONForm table,
    .JSONForm label:has(textarea, div) {
        grid-area: auto / 1 / auto / span 1;
    }
}

#JSONToolbar {
    position: absolute;
    white-space: nowrap;
    background-color: var(--base_color);
    border: 2px solid var(--text_color);
    z-index: 15;
    padding: 0.25em;
    cursor: pointer;
}