table.kvProductionLines,
table.kvProductionLine {
  width: 100%;
  border-collapse: collapse;
}

.kvProductionLine .hidden {
  display: none;
}

.kvProductionLine th,
.kvProductionLine td {
  padding: 0.25rem;
}

.kvProductionLine thead th {
  border-bottom: medium solid black;
}

.kvProductionLine tbody td {
  border-top: thin solid black;
  border-bottom: thin solid black;
}

.kvProductionLine td:nth-child(1n + 4) {
  text-align: center;
}

.kvProductionLine tr.notPartOf {
  opacity: 0.2;
}

.kvProductionLine thead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.kvProductionLine tfoot {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1;
}

.kvProductionLine .selected {
  background-color: lightgreen;
}

.kvProductionLine tbody tr:hover {
  background-color: yellow;
}

.kvProductionLine .udc {
  cursor: pointer;
  border-left: thin solid black;
  border-right: thin solid black;
}

.kvProductionLine input {
  border: thin solid black;
}