:root {
    --input_height: 2em;
    --padding: 0.2em;
}

.kvJSONForm .modified {
    border-color: var(--special_color, #000) !important;
}

.kvJSONForm [disabled],
.kvJSONForm div.JSONData:not([contenteditable]) {
    background-color: var(--faint_color, #EEE) !important;
}

.kvJSONForm .dataRow,
.kvJSONForm[disabled] .newRow,
.kvJSONForm[disabled] .deleteRow,
.kvJSONForm[disabled] .newColumn,
.kvJSONForm[disabled] .deleteColumn {
    display: none;
}

.kvJSONForm .zoom {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--base_color, #FFF);
}

.kvJSONForm .zoom textarea,
.kvJSONForm .zoom [contenteditable] {
    margin: 2px 2px 2px 0;
    height: calc(100% - 5em);
}

.kvJSONForm .newRow,
.kvJSONForm .deleteRow,
.kvJSONForm .newColumn,
.kvJSONForm .deleteColumn {
    cursor: pointer;
    font-size: smaller;
    color: var(--special_color, #000);
}

.columnar {
    table-layout: fixed;
}

.columnar th:first-child {
    width: 1em;
    white-space: nowrap;
    text-align: left;
    padding: 0 0.5em;
}

.kvJSONForm .newRow {
    padding-bottom: 1em;
}

.kvJSONForm .deleteRow {
    width: 1em;
}

.kvJSONForm {
    padding: 0;
}

.kvJSONForm [readonly] {
    border-color: transparent;
    background-color: var(--light_color, #DDD);
}

.kvJSONForm option:not([selected])[disabled] {
    display: inherit;
}

.kvJSONForm form,
.kvJSONForm table,
.kvJSONForm h2,
.kvJSONForm hr,
.kvJSONForm label:has(textarea, div) {
    border-collapse: collapse;
    width: 100%;
}

.kvJSONForm table[form] tbody:nth-child(even) {
    background-color: var(--shade_color, #DDD);
}

.kvJSONForm table.sortable tbody tr:hover {
    cursor: grab;
}

.kvJSONForm td {
    padding: var(--padding);
}

.kvJSONForm caption {
    text-align: left;
    font-weight: bolder;
    border-bottom: thin solid var(--special_color, #000);
    padding-top: 0.5em;
    color: var(--special_color, #000);
}

.kvJSONForm th {
    font-size: smaller;
    background-color: var(--special_color, #000);
    color: var(--base_color, #FFF);
    padding: var(--padding);
}

.kvJSONForm legend {
    display: block;
    font-size: smaller;
    font-weight: bolder;
    line-height: 1em;
}

.kvJSONForm option:not([selected])[disabled] {
    display: none;
}

.kvJSONForm label {
    display: block;
    padding: var(--padding);
    break-inside: avoid;
    font-size: smaller;
    line-height: 1em;
}
.kvJSONForm label:has(textarea) {
    display: block;
}

.kvJSONForm label>span {
    display: block;
}

.kvJSONForm *:invalid {
    border-color: var(--error_color, #F00);
}

.kvJSONForm>table textarea {
    border: thin solid var(--shade_color, #DDD);
}

td.JSONData,
table.JSONData {
    background-color: inherit;
}

.kvJSONForm option {
    font-size: inherit;
}

.kvJSONForm output {
    font-family: monospace;
    display: block;
    font-weight: normal;
    border: none;
    padding: var(--padding);
}

.kvJSONForm input,
.kvJSONForm select:not([multiple]) {
    font-family: monospace;
    font-size: inherit;
    border: thin solid var(--shade_color, #DDD);
    padding: var(--padding);
}

.kvJSONForm input[type="text"],
.kvJSONForm input:not([type]),
.kvJSONForm textarea,
.kvJSONForm progress,
.kvJSONForm meter {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.kvJSONForm textarea,
.kvJSONForm div[contenteditable] {
    font-family: monospace;
    font-size: inherit;
    font-weight: initial;
    padding: var(--padding);
    border: thin solid var(--shade_color, #DDD);
}

.kvJSONForm>fieldset {
    border: thin solid var(--shade_color, #DDD);
}

.kvJSONForm>fieldset label {
    font-weight: normal !important;
    padding-right: 1em;
}

.sticky, .stickyWarning {
    position: fixed;
    width: auto !important;
    bottom: 0;
    left: 1em;
    background-color: var(--special_color, #000);
    border: none;
    border-radius: 0.5em 0.5em 0 0;
    color: var(--base_color, #FFF);
    padding: 0.75em 2em !important;
    margin: 0 1em;
    z-index: 1;
}

.stickyWarning {
    left: auto;
    right: 0;
    background-color: var(--error_color, #F00) !important;
}